.textarea {
  width: 100%;
  height: 50vh;
  font-size: 12px;
  font-family: monospace;
  border: none;
  padding: 8px;
  line-height: 1.6;
  color: #fff;
  background-color: #222;
}

.console {
  box-sizing: border-box;
  padding: 0 8px;
}

.button {
  width: calc(100% / 2 - 4px);
  margin-right: 4px;
  font-size: 12px;
}

.explain {
  padding: 0 0 0 2em;
  font-size: 12px;
}