.textarea {
  width: 100%;
  height: 80vh;
  font-size: 12px;
  font-family: monospace;
  border: none;
  padding: 8px;
  line-height: 1.6;
  color: #fff;
  background-color: #222;
}

.button {
  width: calc(100% / 3 - 8px);
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: #b00020;
  color: #fff;
  margin: 0 4px;
}