<form [formGroup]="textForm">
  <textarea formControlName="latlngs" class="textarea" (input)="handleTextInput()"></textarea>
</form>
<button mat-raised-button color="primary" class="button" (click)="handleUndoButtonClick()">UNDO</button>
<!-- <button  mat-raised-button color="primary" class="button" (click)="handleReverseButtonClick()">REVERSE</button> -->
<button mat-raised-button color="primary" class="button" (click)="handleResetButtonClick()">RESET</button>

<button mat-raised-button color="primary" class="button" (click)="handleFitBoundsButtonClick()">FIT BOUNDS</button>    <p>
      <mat-checkbox formControlName="isFilled" color="primary" (change)="handleIsFilledChange()">FILL POLYLINE
      </mat-checkbox>
    </p>
